body {
    margin: 0;
    padding: 0;
}

header {
    width: auto;
}

.nav-image {
    width: 140px;
}

.main_title {
    margin: 5px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.search {
    margin: 11px;
    width: 33px;
    height: 33px;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 11.7%;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: rgb(7, 106, 255);
    color: white;
}
  
  li a:hover:not(.active) {
    background-color: #777;
    color: white;
}

.card {
    margin: 10px;
    padding: 20px;
    width: 15rem;
    display: grid;
    height: auto;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
}

.card-big {
    margin: 10px 100px;
    padding: 47px;
    width: 20rem;
    display: grid;
    height: auto;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 100px;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
}

.card-image {
    width: 100%;
    grid-area: image;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-size: cover;
    text-align: center;
}

.card:hover {
    z-index: 100;
    transform: scale(1.15);
    box-shadow: 2px 3px 15px rgba(0,0,0,0.6);
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:auto;
  }

.section-1 {
    margin: 40px 208px;
    padding: 2px;
    text-align: center;
}

.buttom-right {
    margin: 50px 220px;
    padding: 1.2rem 3rem;
    float: right;
}

.buttom-right:hover {
    transform: scale(1.12);
}