body {
    margin: 0;
    padding: 0;
}

.main_title {
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.card_style{
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: auto;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 30px 0px #444;
}

.section-1 {
    padding: 20vmin 0vmin;
}

.text-center {
    text-align: center;
}

.inline-block {
	float: none;
	display: inline-block;
	margin-right: -2px;
}