body {
    margin: 0;
    padding: 0;
}

header {
    width: auto;
}

.nav-image {
    width: 140px;
}

.main_title {
    margin: 5px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.search {
    margin: 11px;
    width: 33px;
    height: 33px;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: rgb(7, 106, 255);
    color: white;
}
  
  li a:hover:not(.active) {
    background-color: #777;
    color: white;
}

.card {
    margin: 10px;
    padding: 20px;
    width: 15rem;
    display: grid;
    height: auto;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
}

#card-big {
    margin: 10px auto;
    padding: 60px;
    width: 45rem;
    display: inline-block;
    height: auto;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 100px;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.9);
    font-family: roboto;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 100%;
    grid-area: image;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-size: cover;
    text-align: center;
}

.card:hover {
    z-index: 100;
    transform: scale(1.15);
    box-shadow: 2px 3px 15px rgba(0,0,0,0.6);
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:auto;
  }

.card-button {
    margin: 5px auto;
    justify-content: center;
    align-items: center;
}

.section-1 {
    margin: 40px 208px;
    padding: 2px;
    text-align: center;
}


.buttom-right {
    margin: 50px 120px;
    padding: 1.2rem 3rem;
    float: right;
    text-align: center;
}


.text-center {
    justify-content: center;
}

.datas {
    margin: 5px auto;
    right: 0px;
    position: relative;
    justify-content: right;
    color: #444;
    text-align: center;
}

.clasificacion {
    margin: 5px auto;
    left: 58px;
    top: -28px;
    position: relative;
    justify-content: left;
    color: #444;
    text-align: center;
}

.genres {
    margin: 5px auto;
    right: 54px;
    bottom: -30px;
    position: relative;
    justify-content: right;
    color: #444;
    text-align: center;
}

.inputActor {
    margin: 20px auto;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.buttom-right {
    margin: 50px 120px;
    padding: 1.2rem 3rem;
    float: right;
    text-align: center;
}

.buttom-right:hover {
    transform: scale(1.12);
}

.buttom-left {
    margin: 50px 220px;
    padding: 4.2rem 3rem;
    float: left;
    text-align: center;
}

.buttom-right:hover {
    transform: scale(1.12);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 400px;
	width: auto;
	background-color: white;
	text-align: center;
	padding: 40px;
	position: relative;
    border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
